<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Shaurya Kumar** <br/>
Spark Scala Developer at IBM

*I am interested in data science because <br/>
I would love to contribute towards healthcare sector for affordable and quality healthcare. <br/>
I would love to contribute towards IT sector in creating quality software and reducing human errors.*

### Below code will print Hello World and Addition

In [4]:
print("Hello World!")
print(10+15)

Hello World!
25

<a href=www.google.com> Google Hyperlink </a> 
<br>
- Bulleted list1
- Bulleted list2 
<br>
<ol>
  <li>Ordered list : First item</li>
  <li>Second item</li>
  <li>Third item</li>
  <li>Fourth item</li>
</ol> 
<br/>
Table:
<table>
    <tr>
        <td> a1 </td>
        <td> a2 </td>
    </tr>
    <tr>
        <td> b1 </td>
        <td> b2 </td>
    </tr>
 </table>